<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </section>

<div class="container aboutus">
        <q>From the seed of need was born an idea</q>
    <p>We are a young foundation, seeking to provide support to sex workers and sexual minorities.
        In our first phase we will concentrate on South India and Odhisha, where we have worked
        in the past. Solidarity Foundation is to serve as a bridge between resources, ideas and
        knowledge. We are working at the frontlines of social change.</p>
	<h3> Vision </h3>
	<div class="row">
	<div class="col-md-4">
		<img src ="/assets/grey.jpeg">
	</div>

	<div class="col-md-8">
        <p>We envision a world that is just and celebrates and supports diversity. We see ourselves
            as active members in social change philanthropy for issues surrounding sexuality in India,
            mobilising resources to support social justice for groups marginalised due to their sexuality.</p>
	</div>
 </div>
</div>


<div class="container aboutus">
	<h3> Our Mission </h3>
	<div class="row">
	<div class="col-md-4">
		<img src ="/assets/grey.jpeg">
	</div>

	<div class="col-md-8">
        <p>Solidarity Foundation stands with working-class sexual minorities and sex workers to support
            the creation of a just society where people can live with dignity and freedom, irrespective
            of their gender identity, sexual orientation or occupation as sex workers. It will strive to
            foster significant, long-term social-justice solutions through fundraising, grant making and
            community involvement.</p>
	</div>
</div>
</div>

<section class="your-help">
  <div class="container">
    <h3>History</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-1 timeline">2010</div>
          <div class="col-md-5"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-1 timeline">2011</div>
          <div class="col-md-5"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-1 timeline">2012</div>
          <div class="col-md-5"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-1 timeline">2013</div>
          <div class="col-md-5"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-1 timeline">2014</div>
          <div class="col-md-5"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-1 timeline">2015</div>
          <div class="col-md-5"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

</main>
    
