<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>Contact Us</h1>
        </div>
    </section>

<div class="container contact">
<address>
  <span class="adr">
  	<h1>Tigers Football Club</h1>
  	<span>Buffer Arena</span><br/>
    <span class="street-address">BMS College of Engineering,</span><br/>
    <span class="locality">Bull Temple Road,</span><br> 
    <abbr class="region" title="California">Bangalore</abbr>&nbsp;&nbsp;
    <span class="postal-code">560019</span><br>
    <span class="state-name">Karnataka</span><br>
    <span class="country-name">India.</span>
  </span>
</address>

<p>* Please do write to use.</p>
</div>

</main>
    

