 <!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Solidarity Foundation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr-2.7.1.min.js"></script>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your xperience.</p>
        <![endif]-->

<header>
<div class="container">
    <nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">
        <img src="img/solidarity-logo.png" alt="">
    </a>
   
  </div>
 <div class="actions">
  <button onclick="window.location.href='donation.html'" class="btn btn-sm btn-main">Donate</button>
  <button class="btn btn-sm btn-main">Volunteer</button>
</div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Team & Partner</a></li>
          <li><a href="#">News</a></li>       
          <li><a href="#">Contact Us</a></li>   
       </ul>
      </li>
      <li><a href="#">Impact Stories</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">How We Work<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">Activities & Interventions</a></li>
          <li><a href="#">Corporate Connections</a></li>
          <li><a href="#">Donations</a></li>       
          <li><a href="#">Volunteering</a></li>
          <li><a href="#">FAQ</a></li>    
       </ul>
      </li>
      </li>
        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Support<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="donation.html">Overview</a></li>
          <li><a href="corporates.html">Corporate Connect</a></li>
          <li><a href="foundations.html">Foundation Connet</a></li>
          <li><a href="individuals.html">Individual Connect</a></li>
       </ul>
      </li>
     <!-- <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plan For 2014<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">Budget</a></li>
          <li><a href="#">Planned Events</a></li>    
       </ul>
      </li> -->
      <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Surveys</a></li> 
          <li><a href="#">Downloads</a></li>    
       </ul>
      </li>
      <li><a href="#">Contact Us</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
</div>         
</header>

<main class="main-container">
  <section class="page-head">
    <div class="container">
    <h1> Donations</h1> <span>Corporates</span>
</div>
</section>

<section class="caption container"> 
  <h1><center>One Line Caption Goes Here</center></h1>
</section>


<section>
  <div class="container">
    <div class="row donation-top">
    <div class="col-md-4">
    <img src="img/corporate.jpeg" alt="" width="400" height="200">
    </div>
    <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, aliquid nesciunt quia dolores esse quidem rerum eligendi tempore quaerat cumque! Quasi, saepe, cupiditate magnam commodi obcaecati est eligendi nihil velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, perferendis, quibusdam, temporibus reprehenderit nesciunt recusandae officiis eveniet provident distinctio fugiat ipsum accusamus nam culpa! Neque, molestias cum ducimus consequatur laudantium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, veniam, eveniet vel quo dignissimos distinctio ullam tempore magni. Omnis, nisi voluptatibus quibusdam dolores amet minus impedit totam ipsum dicta nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aliquid, nihil, ipsa accusamus nisi facere impedit non laboriosam illum magni mollitia quis animi expedita asperiores sit ut placeat assumenda quae.</p>
    </div>
  </div>
  </div>
</section>

<section class="your-help">
  <div class="container">
    <h2>How Can You Help?</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Help us with Trust</h4>
          <div class="col-md-1 numbers">1</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia a possimus quisquam quos velit explicabo delectus minus esse! Quae, repudiandae vitae sequi nobis repellat optio labore sunt quam deleniti!</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>From salary</h4>
          <div class="col-md-1 numbers">2</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, asperiores, dolores, ad mollitia veritatis porro consequuntur hic dolor id doloremque voluptatem recusandae necessitatibus ab magnam ipsum quibusdam ducimus quisquam atque.</div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>another option</h4>
          <div class="col-md-1 numbers">3</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, temporibus accusantium maxime laboriosam! Dignissimos, ducimus, laborum, nesciunt numquam corporis necessitatibus itaque adipisci reprehenderit error perferendis accusantium iure consectetur quia quibusdam.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>another option</h4>
          <div class="col-md-1 numbers">4</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, labore, aut facilis culpa possimus illum impedit quia eum accusantium ad delectus velit. Quo, in architecto ipsam odio dolore facilis magnam.</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="donatenow">
  <div class="container">
    <h2 class="h3">Donate Now</h2>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        
        <p>If you wish to donate, you can write
        to us or call us and we will follow
        up with you. Thanks!</p>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <h4>Email Address</h4>
              <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
            </div>
            <div class="col-md-2 contact">
              <h4>Contact Number</h4>
              <span>+91-80-34562222</span> 
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
          <h4>Address</h4>
          <address>
          Solidarity Foundation,
          10th Main, 3rd Block,
          Acme Road,
          Sarjapur,
          Bangalore - 560033.
          </address>
        </div>
      </div>
    </div>
</section>

<div class="container">
<h2 class="h3">Our Donor</h2>
<p>Thanks from our entire solidarity team!!!!!</p>
<br/>
  <div class="row donors">
    <div class="col-md-2">
      <img src="img/thoughtworks.gif" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/tata.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/infosys.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/dlf.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/amul.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/air-india.png" alt="">
    </div>
  </div>
</div>







<footer>   
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h5>About Us</h5>
   <ul>
   <li><a href="#">About Us</a></li>
          <li><a href="#">Team & Partner</a></li>
          <li><a href="#">News</a></li>       
          <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="col-md-2">
      
<h5>Impact Stories</h5>
      <ul>

  </ul>
    </div>
    <div class="col-md-2">
      <h5>How We Work</h5>
      <ul>
  <li><a href="#">Activities & Interventions</a></li>
          <li><a href="#">Corporate Connections</a></li>
          <li><a href="#">Donations</a></li>       
          <li><a href="#">Volunteering</a></li>
          <li><a href="#">FAQ</a></li> 
  </ul>
    </div>
    <div class="col-md-2">
          <h5>Donations</h5>
      <ul>
        <li><a href="donation.html">Overview</a></li>
          <li><a href="#">Donations from Corporates</a></li>
          <li><a href="foundations.html">Donations from Foundations</a></li>
          <li><a href="individuals.html">Donations from Individuals</a></li>
      </ul>
      <!-- <h5>Plan For 2014</h5>
      <ul>
        <li><a href="#">Budget</a></li>
        <li><a href="#">Planned Events</a></li> 
  </ul> -->
    </div>
    <div class="col-md-2">
      <h5>Resources</h5>
      <ul>
<li><a href="#">Blogs</a></li>
          <li><a href="#">Surveys</a></li> 
          <li><a href="#">Downloads</a></li>
  </ul>
    </div>
    <div class="col-md-2">
      
      <ul class="social">
        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
  <hr/>
  <center> &copy;copyright Solidarity Foundation 2014</center>

 </footer>      

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/collapse.js"></script>
        <script type="js/transition.js"></script>
        <script src="js/dropdown.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>






