

<main class="main-container">
  <section class="page-head">
    <div class="container">
    <h1> Donations</h1> <span>Corporates</span>
</div>
</section>

<section class="caption container"> 
  <h1><center>One Line Caption Goes Here</center></h1>
</section>


<section>
  <div class="container">
    <div class="row donation-top">
    <div class="col-md-4">
        image_tag("corporate.jpeg" size: "400x200")
     <%= image_tag "corporate.jpeg" size: "400x200" %>
        <%= image_tag "solidarity-logo.png" %>
    </div>
    <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, aliquid nesciunt quia dolores esse quidem rerum eligendi tempore quaerat cumque! Quasi, saepe, cupiditate magnam commodi obcaecati est eligendi nihil velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, perferendis, quibusdam, temporibus reprehenderit nesciunt recusandae officiis eveniet provident distinctio fugiat ipsum accusamus nam culpa! Neque, molestias cum ducimus consequatur laudantium.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, veniam, eveniet vel quo dignissimos distinctio ullam tempore magni. Omnis, nisi voluptatibus quibusdam dolores amet minus impedit totam ipsum dicta nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, aliquid, nihil, ipsa accusamus nisi facere impedit non laboriosam illum magni mollitia quis animi expedita asperiores sit ut placeat assumenda quae.</p>
    </div>
  </div>
  </div>
</section>

<section class="your-help">
  <div class="container">
    <h2>How Can You Help?</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Help us with Trust</h4>
          <div class="col-md-1 numbers">1</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia a possimus quisquam quos velit explicabo delectus minus esse! Quae, repudiandae vitae sequi nobis repellat optio labore sunt quam deleniti!</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>From salary</h4>
          <div class="col-md-1 numbers">2</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, asperiores, dolores, ad mollitia veritatis porro consequuntur hic dolor id doloremque voluptatem recusandae necessitatibus ab magnam ipsum quibusdam ducimus quisquam atque.</div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>another option</h4>
          <div class="col-md-1 numbers">3</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, temporibus accusantium maxime laboriosam! Dignissimos, ducimus, laborum, nesciunt numquam corporis necessitatibus itaque adipisci reprehenderit error perferendis accusantium iure consectetur quia quibusdam.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>another option</h4>
          <div class="col-md-1 numbers">4</div>
          <div class="col-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, aspernatur, beatae, debitis voluptas possimus magnam autem perferendis provident ad consequatur eum est libero adipisci quod deserunt voluptates nostrum velit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, labore, aut facilis culpa possimus illum impedit quia eum accusantium ad delectus velit. Quo, in architecto ipsam odio dolore facilis magnam.</div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="donatenow">
  <div class="container">
    <h2 class="h3">Donate Now</h2>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        
        <p>If you wish to donate, you can write
        to us or call us and we will follow
        up with you. Thanks!</p>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <h4>Email Address</h4>
              <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
            </div>
            <div class="col-md-2 contact">
              <h4>Contact Number</h4>
              <span>+91-80-34562222</span> 
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
          <h4>Address</h4>
          <address>
          Solidarity Foundation,
          10th Main, 3rd Block,
          Acme Road,
          Sarjapur,
          Bangalore - 560033.
          </address>
        </div>
      </div>
    </div>
</section>

<div class="container">
<h2 class="h3">Our Donor</h2>
<p>Thanks from our entire solidarity team!!!!!</p>
<br/>
  <div class="row donors">
    <div class="col-md-2">
      <img src="/assets/thoughtworks.gif" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/tata.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/infosys.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/dlf.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/amul.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/air-india.png" alt="">
    </div>
  </div>
</div>












