

<main class="main-container">
  <section class="page-head">
    <div class="container">
    <h1> Donations</h1> <span>Corporates</span>
</div>
</section>

<section class="caption container"> 
  <h1><center>One Line Caption Goes Here</center></h1>
</section>


<section>
  <div class="container">
    <div class="row donation-top">
    <div class="col-md-6">
    <img src="assets/corporate.jpeg" width="500" height="200">
    </div>
    <div class="col-md-6 get-involved-summary">
    <p>As a leader here is your chance to be part of a bold and innovative effort. Your involvement could be through your CSR work or by sharing your expertise with us. We welcome your donations and invite you to share your (non-monetary) resources. Tell others about us – it could be your friends, other companies, your associations...And for our part we could input into your Diversity and Inclusion Programme. Do contact us to learn more....</p>

  </div>
  </div>
</section>

<section class="your-help">
  <div class="container">
    <h2>How Can You Help?</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Donate To Us</h4>
          <div class="col-md-1 numbers">1</div>
          <div class="col-md-5"><p>As a part of the society you have a role and a responsibility in social change processes. Your donations would help us provide a platform for emerging leaders from the collectives. It can make a difference in terms of livelihood options for a person without too many options. It could help ensure safety of a person. It could literally be a matter of life and death.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Give your Expertise</h4>
          <div class="col-md-1 numbers">2</div>
          <div class="col-md-5"><p>The expertise that you have gathered over the years could be beneficial to us. This may in information technology solutions, financial systems, design, publications, marketing, translation facilities... and a range of other areas. These are all in demand. Offer us your expertise.</p></div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Share Resources</h4>
          <div class="col-md-1 numbers">3</div>
          <div class="col-md-5"><p>You may also have other resources that you could share with us; computers, cameras, furniture, food stamps, mobile phones, blankets. These are also resources that you can donate. There may be other resources you could lend or allow the use of – an auditorium, a projector, equipment of various sorts, printing facilities...</p></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Diversity and Inclusion Programme</h4>
          <div class="col-md-1 numbers">4</div>
          <div class="col-md-5"><p>You can invite us to conduct Diversity Trainings which sensitize your staff and management around issues of gender and sexuality. The training would strengthen your programme within the organisation. Your payment (entirely or partly) becomes a contribution to the Foundation.</p></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="donatenow">
  <div class="container">
    <h2 class="h3">Donate Now</h2>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        
        <p>If you wish to donate, you can write
        to us or call us and we will follow
        up with you. Thanks!</p>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <h4>Email Address</h4>
              <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
            </div>
            <div class="col-md-2 contact">
              <h4>Contact Number</h4>
              <span>+91-80-34562222</span> 
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
          <h4>Address</h4>
          <address>
          Solidarity Foundation,
          10th Main, 3rd Block,
          Acme Road,
          Sarjapur,
          Bangalore - 560033.
          </address>
        </div>
      </div>
    </div>
</section>

<div class="container">
<h2 class="h3">Our Donor</h2>
<p>Thanks from our entire solidarity team!!!!!</p>
<br/>
  <div class="row donors">
    <div class="col-md-2">
      <img src="/assets/thoughtworks.gif" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/tata.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/infosys.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/dlf.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/amul.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/air-india.png" alt="">
    </div>
  </div>
</div>












