
<main class="main-container">
  <section class="page-head">
    <div class="container">
    <h1> Donations </h1> <span> &nbsp; Corporates, Foundations, and Individuals fund the work we do! </span>
</div>
</section>

<section class="overview">
<div class="container"> 
<div class="row"> 
  <div class="col-sm-8 col-md-4">
    
    <h2>Corporate</h2>

    <img src="/assets/corporate.jpeg" alt="" width="350" height="200">
    <p>Corporates are a part of the society towards which they have social responsibility. Companies that are looking to do their CSR work, can make donations to Solidarity Foundation which would help us provide resources to members from the collectives that we support i.e. sex workers and sexual minorities.</p>
   
    <a href="corporates.html" class="button btn-small button-main"> more </a>
  </div>


  <div class="col-sm-8 col-md-4">  
    <h2 class="h3">Foundation</h2>
    <img src="/assets/foundation.jpg" alt="" width="350" height="200">
    <p>We provide you with the opportunity to work with issues of sexuality. As a big foundation, you may find it difficult to reach out to small groups, but we have the expertise to engage with these communities and with these issues. You can help us do this. </p>
  
    <a href="foundations.html" class="button btn-small button-main"> more </a>
    </div>
  


  <div class="col-sm-8 col-md-4">  
    <h2 class="h3">Individual</h2>
    <img src="/assets/individual.jpg" alt="" width="350" height="200">
    <p>It is not just corporate or foundations that can support us, but you, as an individual can help us in a big way. We welcome any contribution, big or small, from individual donors as well which, if facilitated by your management, can easily be done through your payroll.</p>
    
    <a href="individuals.html" class="button btn-small button-main"> more </a>
    </div>
  </div>
</div>
</section>

<section class="donatenow">
  <div class="container">
    <h2 class="h3">Donate Now</h2>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        
        <p>If you wish to donate, you can write
        to us or call us and we will follow
        up with you. Thanks!</p>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <h4>Email Address</h4>
              <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
            </div>
            <div class="col-md-2 contact">
              <h4>Contact Number</h4>
              <span>+91-80-34562222</span> 
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
          <h4>Address</h4>
          <address>
          Solidarity Foundation,
          10th Main, 3rd Block,
          Acme Road,
          Sarjapur,
          Bangalore - 560033.
          </address>
        </div>
      </div>
    </div>
</section>

<section class="container">
<h2 class="h3">  How Do We Allocate The Funds? </h2>
  <div class="row">
    <div class="col-md-6">
  <h3 class="h4">Guiding Principle</h3>
<p> We will be following our core values while making grants and fellowships. The foundation believes in transparency, accountability and accessibility. We would fund grants to organisations that are innovative and follow a bottom-up approach. We are accountable to our grantees, funders, donors and the communities we work with. We will hold regular consultations with these groups. The grant making process will be transparent and accessible. </p>
</div>


<div class="col-md-6">
<h3 class="h4">Grant Making Body</h3>
<p> Decisions on grantees (individuals and organisations) will be made by a panel, which will meet twice a year. This body would consist of both individuals who have experience of working with the communities and those who are experienced in the area of grant making. Due processes will be followed while making the decisions in keeping with our policy. </p>
</div>
</div>

<h2 class="h3">Our Donor</h2>
<p>Thanks from our entire solidarity team!!!!!</p>
<br/>
  <div class="row donors">
    <div class="col-md-2">
        <img src="/assets/thoughtworks.gif" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/tata.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/infosys.jpg" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/dlf.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/amul.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="/assets/air-india.png" alt="">
    </div>
  </div>
  </section>
</main>







