 <!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Solidarity Foundation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr-2.7.1.min.js"></script>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your xperience.</p>
        <![endif]-->

<header>
<div class="container">
    <nav class="navbar" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">
        <img src="img/solidarity-logo.png" alt="">
    </a>
   
  </div>
 <div class="actions">
  <button onclick="window.location.href='donation.html'" class="btn btn-sm btn-main">Donate</button>
  <button class="btn btn-sm btn-main">Volunteer</button>
</div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Team & Partner</a></li>
          <li><a href="#">News</a></li>       
          <li><a href="#">Contact Us</a></li>   
       </ul>
      </li>
      <li><a href="#">Impact Stories</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">How We Work<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">Activities & Interventions</a></li>
          <li><a href="#">Corporate Connections</a></li>
          <li><a href="#">Donations</a></li>       
          <li><a href="#">Volunteering</a></li>
          <li><a href="#">FAQ</a></li>    
       </ul>
      </li>
        <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donations<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="donation.html">Overview</a></li>
          <li><a href="donationfromfoundations.html">Donations from Corporates</a></li>
          <li><a href="donationfromindividuals.html">Donations from Foundations</a></li> 
          <li><a href="#">Donations from Individuals</a></li>     
       </ul>
      </li>
     <!-- <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plan For 2014<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">Budget</a></li>
          <li><a href="#">Planned Events</a></li>    
       </ul>
      </li> -->
      <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
       <ul class="dropdown-menu">
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Surveys</a></li> 
          <li><a href="#">Downloads</a></li>    
       </ul>
      </li>
      <li><a href="#">Contact Us</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>
</div>         
</header>

<main class="main-container">
  <section class="page-header">
    <div class="container">
    <h1> Donations rom Individuals </h1>
</section>
  

<div class="container"> 
<div class="bullet"> 
<div class="row">
  <div class="col-md-9">
    
    
  </div>
  
<div class="col-md-3">
  <div class="donatenow-sidebar">
  <h2><center>Donate Now</center></h2>
<p>If you wish to donate, you can write<br/>
  to us or call us and we will follow<br/>
  up with you. Thanks!</p>
<br/>
<h4>Email Address</h4>
<h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
<br/>
<h4>Contact Number</h4>
<h5>+91-80-34562222</h5>  
<br/>

<h4>Address</h4>
<address>
Solidarity Foundation,<br/>
10th Main, 3rd Block,<br/>
Acme Road,<br/>
Sarjapur,<br/>
Bangalore - 560033.
</address>
</div>
</div>
</div>
</div>
</div>


<section class="our-doners">
<div class="container">
  <h2>  Our Donor</h2>
<p>Thanks from our entire solidarity team!!!!!</p>
  <div class="row">
    <div class="col-md-2">
      <img src="img/lucky-logo.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/company-logo.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/lucky-logo.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/company-logo.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/lucky-logo.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="img/company-logo.png" alt="">
    </div>
  </div>
</div>
</div>
</main>


<footer>   
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h5>About Us</h5>
   <ul>
   <li><a href="#">About Us</a></li>
          <li><a href="#">Team & Partner</a></li>
          <li><a href="#">News</a></li>       
          <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="col-md-2">
      
<h5>Impact Stories</h5>
      <ul>

  </ul>
    </div>
    <div class="col-md-2">
      <h5>How We Work</h5>
      <ul>
  <li><a href="#">Activities & Interventions</a></li>
          <li><a href="#">Corporate Connections</a></li>
          <li><a href="#">Donations</a></li>       
          <li><a href="#">Volunteering</a></li>
          <li><a href="#">FAQ</a></li> 
  </ul>
    </div>
    <div class="col-md-2">
          <h5>Donations</h5>
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Donations from Corporates</a></li>
        <li><a href="#">Donations from Foundations</a></li> 
        <li><a href="#">Donations from Individuals</a></li> 
      </ul>
      <!-- <h5>Plan For 2014</h5>
      <ul>
        <li><a href="#">Budget</a></li>
        <li><a href="#">Planned Events</a></li> 
  </ul> -->
    </div>
    <div class="col-md-2">
      <h5>Resources</h5>
      <ul>
<li><a href="#">Blogs</a></li>
          <li><a href="#">Surveys</a></li> 
          <li><a href="#">Downloads</a></li>
  </ul>
    </div>
    <div class="col-md-2">
      
      <ul class="social">
        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="gplus"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div>
</div>
  <hr/>
  <center> &copy;copyright Solidarity Foundation 2014</center>

 </footer>      

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/collapse.js"></script>
        <script type="js/transition.js"></script>
        <script src="js/dropdown.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>






