<main class="main-container">
  <section class="page-head">
      <div class="container">
          <h1>Strategies We Support</h1>
      </div>
  </section>
  <div class="container aboutus">
    <h3>Building Collectives</h3>
    <p>At Solidarity Foundation, we believe in encouraging people to work together towards shared goals. So, to us, participatory processes make more sense than projects being set up to deliver services. For this reason, we hope to endorse membership-based organisations with democratic, transparent, and ethical policies that empower relevant communities, help stake holders, change public opinion in favour of working class sexual minorities and sex workers, enable access to their rights and engage in human rights advocacy</p>

    <h3>Building Capacity</h3>
    <p>Organisations need to be supported in the process of developing and strengthening their skills, abilities, and processes to survive, adapt, and thrive in fast-changing world. Bearing this in mind, we endeavour to provide support to systematically strengthen competence in understanding the root causes of problems and building broader perspectives, understanding one’s self and others better, creating support structures for working class communities and drawing on one’s knowledge and skills to achieve better management/organisation. We also assign mentors who will work with individuals and groups/organisations, providing overall direction and access to resources and information, and, if needed, offering psycho-social support.</p>

    <h3>Building Alliances</h3>
    <p>Working alone in this arena can be an uphill task. Alliances are important to access ideas and information, to generate and capitalise on the extra energy and power of numbers. At present, there are few strong broad platforms which allows for a diverse organisations and individuals to participate. Many of the existing networks seem to be dominated by middle class activists and leaders. While this has undoubtedly yielded many advantages, there is the possibility of the working class and their concerns being left out of this struggle. To sustain momentum and to make a greater impact, we believe in encouraging alliances and networks that ensure that all stakeholders are united in purpose. Salient differences need not be erased; but inclusive ways of working can be practised. Alliances and solidarity will emerge from joint campaigns, dialogues and common actions that Solidarity Foundation hopes to facilitate.</p>
 </div>
</main>