
<main class="main-container">
<section class="hero">
    <div class="container">
      <div class="row">
      <div class="col-md-7">
        <iframe width="100%" height="315" src="http://www.youtube.com/embed/OWeIBEKY3S4" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-5">
        <p>Augue egestas lectus magnis, sit mid nunc aliquam et augue odio rhoncus amet, lectus odio urna magna dolor, nisi vel integer! Lacus turpis, nunc? Ac dapibus, ac placerat, dictumst, augue augue enim, urna diam rhoncus aliquet </p>
        <a href="#" class="readmore">Read impact stories</a>
      </div>
      </div>
    </div> 
</section>

<!-- 
<section class="numbers">
  <div class="container">


    <ul class="numberlist">
      <li>
          <div class="title">
            <span class="number">2014</span> <span class="txt">in numbers</span> 
          </div>
      </li>
      <li> <span class="number">1,037,000</span> <span class="txt">in donations</span> </li>
      <li> <span class="number">29</span> <span class="txt">Volunteers</span> </li>
      <li> <span class="number">11</span> <span class="txt">Events planned</span> </li>
      <li> <span class="number">5</span> <span class="txt">Surveys conducted</span> </li>
    </ul>
</div>   
  </div>
</section> -->

<section class="items">
  
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <h3>How are we funded?</h3>
      <div class="row">
        <div class="col-md-4">
          <img src="images/piechart.png" alt="">
          <ul>
            <li class="corporates">corporates</li>
            <li class="individuals">individuals</li>
          </ul>

        </div>
        <div class="col-md-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, ex, nemo praesentium blanditiis voluptatem qui provident sapiente aliquam illum reprehenderit quam nostrum pariatur voluptate saepe at explicabo voluptas! Blanditiis, odit.</p>
<a href="#" class="button btn-small button-main"> more </a>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <h3>Plans for 2014</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, nam, nisi, aliquam consequatur itaque assumenda labore eos ex natus magni optio amet sed sunt placeat commodi velit rerum asperiores pariatur.</p>
      <p>Ac augue. Nunc mauris dictumst? Habitasse proin! Nec nascetur et duis! Lorem! Eu, turpis porttitor penatibus dictumst duis nunc, amet enim phasellus in? Et, et mauris purus quis in rhoncus pid. Magnis et lorem porta dapibus pulvinar sed dolor a egestas integer turpis porttitor mauris vut dignissim ac nisi pellentesque parturient lectus porta, aliquam scelerisque, ultrices. Nascetur, enim amet in lorem. Porta et quis massa purus cursus scelerisque augue aliquet adipiscing et massa, a dapibus rhoncus ridiculus hac porta,</p>

    </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="row">
      <div class=" col-sm-6 col-md-3">
        <h3>Our Mission</h3>
        <img src="/images/mission.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellendus, earum sint amet officia dolorem hic numquam architecto eaque unde. Dolor, esse, minima dicta nihil obcaecati veniam sit accusamus reiciendis.</p>
        <a href="#" class="button btn-small button-main"> more </a>
      </div>
      <div class=" col-sm-6 col-md-3">
        <h3>Our Activities</h3>
        <img src="/images/activities.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellendus, earum sint amet officia dolorem hic numquam architecto eaque unde. Dolor, esse, minima dicta nihil obcaecati veniam sit accusamus reiciendis.</p>
        <a href="#" class="button btn-small button-main "> more </a>
      </div>
      <div class=" col-sm-6 col-md-3">
        <h3>Funding</h3>
        <img src="img/funding.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellendus, earum sint amet officia dolorem hic numquam architecto eaque unde. Dolor, esse, minima dicta nihil obcaecati veniam sit accusamus reiciendis.</p>
        <a href="#" class="button btn-small button-main"> more </a>
      </div>
      <div class=" col-sm-6 col-md-3">
        <h3>Get Involved</h3>
        <img src="img/involvement.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, repellendus, earum sint amet officia dolorem hic numquam architecto eaque unde. Dolor, esse, minima dicta nihil obcaecati veniam sit accusamus reiciendis.</p>
        <a href="#" class="button btn-small button-main"> more </a>
      </div>
    </div>
  </div>

</section>

 </main>

