
<main class="main-container">
  <section class="page-head">
    <div class="container">
    <h1> Donations</h1> <span>From Individuals</span>
</div>
</section>

<div class="container"> 

<div class="col-md-9">
<div class="row donation-top">
  <div class="col-md-4">
    <img src="/assets/individual.jpg" alt="" width="400" height="200">
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, aliquid nesciunt quia dolores esse quidem rerum eligendi tempore quaerat cumque! Quasi, saepe, cupiditate magnam commodi obcaecati est eligendi nihil velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, veniam, eveniet vel quo dignissimos distinctio ullam tempore magni. Omnis, nisi voluptatibus quibusdam dolores amet minus impedit totam ipsum dicta nam!</p>
  </div>
</div>
  <div class="row overview"> 
  <div class="col-sm-6 col-md-4">   
    <h2>From employees</h2> 
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, odio, natus nisi reiciendis cumque quidem asperiores officiis optio pariatur id laudantium totam alias necessitatibus suscipit odit voluptas placeat qui adipisci!</p>   
  </div>

  <div class="col-sm-6 col-md-4">  
    <h2 class="h3"> your foundation</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, odio, natus nisi reiciendis cumque quidem asperiores officiis optio pariatur id laudantium totam alias necessitatibus suscipit odit voluptas placeat qui adipisci!</p>
    </div>

  <div class="col-sm-6 col-md-4">  
    <h2 class="h3">some other option</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, odio, natus nisi reiciendis cumque quidem asperiores officiis optio pariatur id laudantium totam alias necessitatibus suscipit odit voluptas placeat qui adipisci!</p>   
    </div>
</div>
</div>

    <div class="col-sm-6 col-md-3">
  <div class="donatenow-sidebar">
  <h2 class="h3">Donate Now</h2>
  <p>If you wish to donate, you can write
  to us or call us and we will follow
  up with you. Thanks!</p>

  <h4>Email Address</h4>
  <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
  <h4>Contact Number</h4>
  <span>+91-80-34562222</span>  

  <h4>Address</h4>
  <address>
  Solidarity Foundation,<br/>
  10th Main, 3rd Block,<br/>
  Acme Road,<br/>
  Sarjapur,<br/>
  Bangalore - 560033.
  </address>
</div>
</div>
</div>

<section class="container">
  <div class="row">
  <div class="col-sm-18 col-md-9">
  <h1><a name="volunteering">Volunteering</a></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
</div>

  <div class="col-sm-6 col-md-3">
  <div class="donatenow-sidebar">
  <h2 class="h3">Volunteer Now</h2>
  <p>If you wish to volunteer, you can write
  to us or call us and we will follow
  up with you. Thanks!</p>

  <h4>Email Address</h4>
  <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
  <h4>Contact Number</h4>
  <span>+91-80-34562222</span>  

  <h4>Address</h4>
  <address>
  Solidarity Foundation,<br/>
  10th Main, 3rd Block,<br/>
  Acme Road,<br/>
  Sarjapur,<br/>
  Bangalore - 560033.
  </address>
</div>
</div>
</div>
</section>

    <section class="donatenow">
        <div class="container">
            <h2 class="h3">Donate Now</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <p>If you wish to donate, you can write
                        to us or call us and we will follow
                        up with you. Thanks!</p>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Email Address</h4>
                                <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
                            </div>
                            <div class="col-md-2 contact">
                                <h4>Contact Number</h4>
                                <span>+91-80-34562222</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>Address</h4>
                    <address>
                        Solidarity Foundation,
                        10th Main, 3rd Block,
                        Acme Road,
                        Sarjapur,
                        Bangalore - 560033.
                    </address>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h2 class="h3">Our Donor</h2>
        <p>Thanks from our entire solidarity team!!!!!</p>
        <br/>
        <div class="row donors">
            <div class="col-md-2">
                <img src="/assets/thoughtworks.gif" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/tata.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/infosys.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/dlf.png" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/amul.png" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/air-india.png" alt="">
            </div>
        </div>
    </div>








