

<main class="main-container">
<section class="page-head">
    <div class="container">
        <h1> Donations</h1> <span>Individuals</span>
    </div>
</section>

<section class="caption container">
    <h1><center>One Line Caption Goes Here</center></h1>
</section>


<section>
    <div class="container">
        <div class="row donation-top">
            <div class="col-md-6">
                <img src="assets/individual.jpg" width="500" height="200">


            </div>
            <div class="col-md-6 get-involved-summary">
                <p>As an individual who wants to contribute to the society, to make a difference, to be the change; you can help us. We welcome any contribution, big or small, from individual donors. We like to engage with a range of individuals from all walks of life; students, government employees, corporate employees, retired persons etc. Aside from giving us donations, you can volunteer or intern with us, connect us to your friends and provide us with resources as well.</p>
                
            </div>
        </div>
    </div>
</section>

<section class="your-help">
    <div class="container">
        <h2>How Can You Help?</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <h4>Donate to us</h4>
                        <div class="col-md-1 numbers">1</div>
                        <div class="col-md-5"><p>You as an individual can contribute to our cause and can associate with us. You could also donate a small amount regularly through payroll giving. This way, you will be associated with us over a long term and there would be greater impact of your contribution. One-off small amounts too matter to us. As a small foundation these contributions mean much to us and for you it will mean that the support actually reaches the grassroots level groups and makes a difference.</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <h4>Volunteer/Intern with us</h4>
                        <div class="col-md-1 numbers">2</div>
                        <div class="col-md-5"><p>Anybody, students, professionals, Indians, foreigners,. can volunteer or intern at our organisation or with organisations we support. You can learn and teach,  interact with experts and can gain field experience. You will get a peek into the lives of people quite different from you. A chance to learn and grow. We make an effort to structure a customised volunteering and interning schedule in keeping with unique, ideas and qualities, which helps both our collectives, and you.</p></div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <h4>Connect us to your friends</h4>
                        <div class="col-md-1 numbers">3</div>
                        <div class="col-md-5"><p>Besides your involvement you may also know a friend, a group, a corporate body or an organisation that you would like to link us to.  Please do that. Now. Enlarging the circle of supporters and friends is important to our work. More people are discussing the issues that we are working with is such a positive step. Especially there are so few open conversations around issues of sexuality.</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container">
                    <div class="row">
                        <h4>Provide Resources</h4>
                        <div class="col-md-1 numbers">4</div>
                        <div class="col-md-5"><p>You can also provide us with resources such as your time, expertise, office equipment, food stuff etc. You could also mobilise resources – old newspapers, basic medicines etc and hand them over to us. The community is always in need of various resources. You can also link us to others, your family, friends, colleagues etc. who can provide resources or can engage with us. </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br/>
<br/>
<br/>
<section class="container">
  <div class="row">
  <div class="col-sm-18 col-md-9">
  <h1><a name="volunteering">Volunteering</a></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, nostrum maxime omnis esse laudantium eaque alias reiciendis ducimus dolore assumenda iure odit pariatur earum praesentium ipsum tenetur velit sunt debitis!</p>
</div>

  <div class="col-sm-6 col-md-3">
  <div class="donatenow-sidebar">
  <h2 class="h3">Volunteer Now</h2>
  <p>If you wish to volunteer, you can write
  to us or call us and we will follow
  up with you. Thanks!</p>

  <h4>Email Address</h4>
  <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
  <h4>Contact Number</h4>
  <span>+91-80-34562222</span>  

  <h4>Address</h4>
  <address>
  Solidarity Foundation,<br/>
  10th Main, 3rd Block,<br/>
  Acme Road,<br/>
  Sarjapur,<br/>
  Bangalore - 560033.
  </address>
</div>
</div>
</div>
</section>

    <section class="donatenow">
        <div class="container">
            <h2 class="h3">Donate Now</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <p>If you wish to donate, you can write
                        to us or call us and we will follow
                        up with you. Thanks!</p>
                </div>
                <div class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Email Address</h4>
                                <h5><a href="mailto:donations@solidarity.com">donations@solidarity.com</a></h5>
                            </div>
                            <div class="col-md-2 contact">
                                <h4>Contact Number</h4>
                                <span>+91-80-34562222</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <h4>Address</h4>
                    <address>
                        Solidarity Foundation,
                        10th Main, 3rd Block,
                        Acme Road,
                        Sarjapur,
                        Bangalore - 560033.
                    </address>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <h2 class="h3">Our Donor</h2>
        <p>Thanks from our entire solidarity team!!!!!</p>
        <br/>
        <div class="row donors">
            <div class="col-md-2">
                <img src="/assets/thoughtworks.gif" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/tata.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/infosys.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/dlf.png" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/amul.png" alt="">
            </div>
            <div class="col-md-2">
                <img src="/assets/air-india.png" alt="">
            </div>
        </div>
    </div>








