<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>Our Mission</h1>
        </div>
    </section>

<div class="container aboutus mission">
<div class="row">
<h2>Club Mission Statement</h2>
<p>The primary objective of ALL <b>Tigers</b> is to maximize the enjoyment, development and in turn potential of the individual player within the structure and objectives of the team. It is paramount that this is achieved in a nurturing and positive environment that aims to provide the player and family with a positive social and football experience.</p>

<h2>1. Winning games</h2>
<p>Winning is not the primary objective of the club. The club considers winning as a potential outcome that stems from the development of the individual within the structure and objectives of the team.</p>
</div>

<img src="assets/pride_vision.jpg" alt="mission">

<h2>2. Spirit of the Game</h2>
<p>It is accepted the club aims to field competitive sides with players who display a healthy competitive spirit. This spirit is defined as trying ones best whilst displaying respect and tolerance for others. Including but not limited to referees, opposition players / staff and of course our own team mates / staff.</p>

<h2>3. Tigers as Leaders</h2>
<p>Tigers as leaders are, above all, required to model the behavior and attitudes outlined in the Spirit of the Game. All Tigers are committed to the clubs racial and religious tolerance policy and bullying policy.</p>

<h2>4. Development of the Individual</h2>
<p>Taking into account the physical maturity, skill level and game sense of the player, Tigers will aim to support team-mates in the following areas:
Development of skills.
Development and knowledge of team play and tactics within.
The three phases of the game; The three phases of the game are defined as 
We have the ball ; They have the ball ; The ball is in dispute;
Increased knowledge of positional play;
Nurture and develop decision making ability through game related. 
Training exercises.
Foster personal development including leadership, self esteem and social skills.
Tigers are committed to the Club's Rotation and Game Time Policy.</p>

<h2>5. Game Time Policy</h2>
<p>To assist other Tigers in their development each, Tiger will give the opportunity
for players to practice what they learn at training by ensuring Tigers
have a meaningful amount of game time.
* Senior Tiger's discretion will be applied in the case of injury, fatigue or poor attitude.
 
** In the event of a team making finals with more than 8 players on the list the Senior Tiger will be required to inform ALL Tigers of his finals selection and game time policy at the earliest possible convenience.</p>
 
<h2>6. Rotation Policy</h2>
<p>The meaning of "development" may change in the context of positional rotation as players progress. In the junior years, it is important the players experience the challenge of playing in as many positions as possible. Positions are defined as <b>defense</b>, <b>midfield</b> (including wings, central mid and Attacking mid) and <b>forward</b>.This will introduce players to the different requirements of each position and matching the individual to the suitable positions in years to come.
 
As players progress through the years Senior Tigers will give greater consideration to the player's size, strength, skill level and game sense when rotating players positions. This may result in players playing in fewer positions. In turn, however, this will enhance the opportunity for the Tiger to develop their knowledge of positional play which is one of the five primary objectives in developing the individual.</p>
 
<h2>7. Continued Development of Tigers</h2>
<p>All Tigers are committed to the continued development of their knowledge and methods. Tigers are expected to complete a Level 1 (Junior) Accreditation in their first year as Tigers.
 
 ALL Tigers will have a maximum of 4 consecutive year's tenure.However, this policy can be reviewed by the Executive Committee should no Suitable applicant is obtained for the following season.</p>
 
<h2>8. Voting and Value Awards</h2>
<p>In addition to the current awards for Best and Fairest, Most Improved, Tigers Trophy and Most Courageous which are determined through the voting process, all participating players will receive a personalized values award which recognizes and highlights their individual contribution throughout the season. 

Creativity is encouraged; however, some examples may include Tackling Award, Most Versatile, Footballer of the Year, Most Reliable, Goal Sneak, Best Defender, Best Forward, Best attitude etc.</p>

<h2>9. Injury prevention and safety</h2>
 
<p>The Tiger Football Club view player safety as paramount.
Make sure that all grounds are checked before play for possible dangers (e.g. glass etc.);
Players are wearing the appropriate protective equipment;
Players are monitored for signs of fatigue and rested where necessary;
Appropriate medical attention is rendered as a priority should an injury occur;
Children are not subjected to physical or verbal abuse from any player, parent or spectator.</p>

<h2>10. All intervention is to be positive intervention</h2>
<p>When instructing players, the use of fear or humiliation is not only inappropriate it is unlikely to be effective. Tigers will always instruct and intervene in a positive and encouraging way. It is the Tiger's responsibility to provide a solution for the player or work with a player to find avsolution.</p>
       
</div>
</main>
    
