<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>Our Activities</h1>
        </div>
    </section>

<section class="impact-stories">
<div class="container"> 
<div class="row">
    <div class="col-md-6">
      <img src="assets/ourmission.jpg" alt="special scout">
    </div>
  
    <div class="col-md-6">
      <h3>Special Tiger Scout from USA flown in</h3>
    <p>Tiger F.C was new to the world of football a few years ago, but now, we are a world class orgaisation with state of the art facilities. All the ground work for this football club has been laid with our present team, the club's board has decided to look to the future. A special scout has been flown in from USA, Vijay G, to work along with the officials from the clubs to try and determine prospective tigers. There is a lot of money being pumped into this initiative with a lot of interest from all round. These are certainly exciting times for TIGER F.C.</p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-6">
    <img src="assets/grey.jpeg" alt="">
  </div>
  
  <div class="col-md-6">
    <h3>caption goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="assets/grey.jpeg" alt="">
  </div>
  
  <div class="col-md-6">
    <h3>caption goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
  </div> -->
  </div>
  </div>
</section>
	 
</div>
</div>
</main>
    