<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>News</h1>
        </div>
    </section>

<section class="impact-stories">
<div class="container"> 
<div class="row">
    <div class="col-md-6">
      <img src="assets/grey.jpeg" alt="">
    </div>
  
    <div class="col-md-6">
      <h3>caption goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="assets/grey.jpeg" alt="">
  </div>
  
  <div class="col-md-6">
    <h3>caption goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="assets/grey.jpeg" alt="">
  </div>
  
  <div class="col-md-6">
    <h3>caption goes here</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
  </div>
  </div>
  </div>
</section>
	 
</div>
</div>
</main>
    