<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>News</h1>
        </div>
    </section>

<section class="impact-stories">
<div class="container"> 
<div class="row"> 
  <div class="col-sm-8 col-md-4">
    <img src="assets/grey.jpeg" alt="">
    <h4>caption goes here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
   
    <a href="#" class="button btn-small button-main"> more </a>
  </div>


  <div class="col-sm-8 col-md-4">  
    <img src="assets/grey.jpeg" alt="">
    <h4>caption goes here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
  
    <a href="#" class="button btn-small button-main"> more </a>
    </div>
  


  <div class="col-sm-8 col-md-4">  
    <img src="assets/grey.jpeg" alt="">
    <h4>caption goes here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
    
    <a href="#" class="button btn-small button-main"> more </a>
    </div>
  </div>

  <div class="row"> 
  <div class="col-sm-8 col-md-4">
    <img src="assets/grey.jpeg" alt="">
    <h4>caption goes here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
   
    <a href="#" class="button btn-small button-main"> more </a>
  </div>


  <div class="col-sm-8 col-md-4">  
    <img src="assets/grey.jpeg" alt="">
    <h4>caption goes here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!. </p>
  
    <a href="#" class="button btn-small button-main"> more </a>
    </div>
  


  <div class="col-sm-8 col-md-4">  
    <img src="assets/grey.jpeg" alt="">
    <h4>caption goes here</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, enim officiis illum animi aspernatur quasi nesciunt tempore ea magni quaerat? Sed illo assumenda maxime laudantium quisquam sapiente dolores nostrum asperiores!.</p>
    
    <a href="#" class="button btn-small button-main"> more </a>
    </div>
  </div>
</div>
</section>
	 
 
</div>
</main>
    