<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>Our Team</h1>
        </div>
    </section>

<div class="container aboutus">
 <!--  <a href="donation.html" onMouseUp="wopen('donation.html','popupname','width=400,height=300');">link</a> --> 
  <q>Power, Pride And Victory!!</q>
	<h3> Our Vision </h3>
	<div class="row">
	<div class="col-md-4">
		<img src ="/assets/grey.jpeg">
	</div>
	<div class="col-md-8">
        <p>To provide a world class soccer program that develops world class soccer players.</p>
	</div>
 </div>
</div>


<section class="your-help">
  <div class="container">
    <h3>Our Players</h3>
  <div class="row helper">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-2 profile profile-picture">
            <img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          </div>
          <div class="col-md-4 profile-desc"><p>
            <h2>Shishira Haleneer</h2>
            <h4>Defender/Midfielder</h4>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-2 profile profile-picture">
            <img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          </div>
          <div class="col-md-4 profile-desc"><p>
            <h2>Sarthak Bhat</h2>
            <h4>Forward</h4>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row  helper">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-2 profile profile-picture">
            <img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          </div>
          <div class="col-md-4 profile-desc"><p>
            <h2>Syed Maaz</h2>
            <h4>Forward</h4>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-2 profile profile-picture">
            <img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          </div>
          <div class="col-md-4  profile-desc"><p>
            <h2>Venkat Sambandan</h2>
            <h4>Defender/Midfielder</h4>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row  helper">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-2 profile profile-picture">
            <img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          </div>
          <div class="col-md-4 profile-desc"><p>
            <h2>Vishwas Kumar</h2>
            <h4>Defender/Midfielder</h4>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-md-2 profile profile-picture">
            <img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
          </div>
          <div class="col-md-4 profile-desc"><p>
            <h2>Ashwin Reddy</h2>
            <h4>GoalKeeper</h4>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</main>
    
