<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>Impact Stories</h1>
        </div>
    </section>

<section class="story">
	<div class="container">
		<h4>Caption goes here</h4>
		<img src="assets/grey.jpeg">
<div class="row">
	<div class="col-md-9">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, inventore itaque officiis quam nobis dolor voluptatibus officia eos facilis magni? At nihil officiis quos pariatur commodi harum aut labore similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorum, et, architecto, assumenda tempore eos praesentium veritatis numquam deleniti pariatur iure deserunt qui earum eaque porro expedita amet quo saepe. </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, inventore itaque officiis quam nobis dolor voluptatibus officia eos facilis magni? At nihil officiis quos pariatur commodi harum aut labore similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorum, et, architecto, assumenda tempore eos praesentium veritatis numquam deleniti pariatur iure deserunt qui earum eaque porro expedita amet quo saepe. </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, inventore itaque officiis quam nobis dolor voluptatibus officia eos facilis magni? At nihil officiis quos pariatur commodi harum aut labore similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorum, et, architecto, assumenda tempore eos praesentium veritatis numquam deleniti pariatur iure deserunt qui earum eaque porro expedita amet quo saepe. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, inventore itaque officiis quam nobis dolor voluptatibus officia eos facilis magni? At nihil officiis quos pariatur commodi harum aut labore similique? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, dolorum, et, architecto, assumenda tempore eos praesentium veritatis numquam deleniti pariatur iure deserunt qui earum eaque porro expedita amet quo saepe. </p>
	</div>
	<div class="col-md-3 story-rightmenu">
		<h4>Caption goes here</h4>
		<img src="assets/grey.jpeg">

		<h4>Caption goes here</h4>
		<img src="assets/grey.jpeg">

		<h4>Caption goes here</h4>
		<img src="assets/grey.jpeg">
	</div>
</div>

	</div>

</section>

</main>
