<main class="main-container team">
    <section class="page-head">
        <div class="container">
            <h1>Team</h1> 
        </div>
    </section>
    <section class="trustee">
    	<div class="container">
    		<h3>Board Of Trustees</h3>
    		<div class="row">
    			<div class="col-md-2 profile">
    				<img class="profile-pic" src ="/assets/profile-pic.jpg"  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
    				<h5>Meena Gopal</h5>
                    <div class="profile-desc">
    				    <p>After finishing her MA and MPhil from University of Madras, she went on to do her PhD from Jawaharlal Nehru University. She is currently working as an Associate Professor and the Chairperson of the Advanced Centre for Women’s Studies, Tata Institute of Social Sciences, Mumbai. Her areas of interest are Gender and Labour, Sexuality and Social Movements.</p>
                    </div>
    			</div>
    			<div class="col-md-2 profile">
    				<img class="profile-pic" src ="/assets/profile-pic.jpg">
    				<h5>Saleem Kidwai</h5>
                    <div class="profile-desc">
    				    <p>Saleem Kidwai taught history at Ramjas College, Delhi University for many years. A medieval historian by profession, his other areas of interests include gender and sexual minorities, the tawaif culture, Mughal culture etc. He has co-authored a book with Ruth Vanita Same-Sex Love in India: Readings from Literature and History (New York: Palgrave; New Delhi: Macmillan, 2000)</p>
                    </div>
    			</div>
    			<div class="col-md-2 profile">
    				<img class="profile-pic" src ="/assets/profile-pic.jpg">
    				<h5>Babu Mathew</h5>
                    <div class="profile-desc">
    				    <p>Mr Mathew did his Masters in Law with specialization in Labour Law and Administrative Law and later did his MPhil from National Law School of India University, Bangalore. Having been part for various social movements and the Trade Union movement, he has a vast practical knowledge of the Labour Law. He served as the Country Director of Action Aid International in India where he worked towards developing the ‘Rights Based’ policy. He is now a visiting Professor at the National Law School, Delhi.</p>
                    </div>
    			</div>
    			<div class="col-md-2 profile">
    				<img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Rosemary Viswanath</h5>
                    <div class="profile-desc">
    				    <p>Rosemary Viswanath, an organisational expert, was the director of Equations.</p>
                    </div>
    			</div>
    			<div class="col-md-2 profile">
    				<img class="profile-pic" src ="/assets/profile-pic.jpg">
    				<h5>Shubha Chacko</h5>
                    <div class="profile-desc profile-desc-left">
    				    <p>Shubha has Master's degree in Social Work from Tata Institute of Social Science, Mumbai. After working as a documentation professional and having worked at the National law School of India University she, started an NGO called Aneka - which means 'diversity' or 'plurality'. She is closely involved in grassroots level, policy and research work in India, particularly focusing on issues relating to women, gender and sexuality.</p>
                    </div>
    			</div>
    			<div class="col-md-2 profile">
    				<img class="profile-pic" src ="/assets/profile-pic.jpg">
    				<h5>Manohar Elavarthi</h5>
                    <div class="profile-desc profile-desc-left">
    				    <p>Manohar Elavarthi is a Human Rights activist, founding trustee of Aneka and the founder of Sangama.</p>
                    </div>
    			</div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Gagan Sethi</h5>
                    <div class="profile-desc">
                        <p>Gagan Sethi is the Managing Trustee of Jan Vikas.</p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>MJ Joseph</h5>
                    <div class="profile-desc">
                        <p>Mr. Joseph is the South India operations Director of Praxis. He has more than two decades of experience as a Social Work researcher and practioner, particularly in the field of development research. He has extensive knowledge in Participatory Action Research and Participatory Learning Activities which he has put to good use while leading participatory action research regarding many agrarian crises.</p>
                    </div>
                </div>
    		</div>
    	</div>
    </section>

     
    		
    <section class="trustee">
    	<div class="container">
    		<h3>Advisory Group</h3>
            <p>Since in some ways we are moving into uncharted territory we are drawing on the experience, knowledge and support of some very wise people. They have generously agreed to hold our hands and help us steer through this new terrain. They form our advisory group. They have moral power over the Foundation. They provide practical support to Solidarity Foundation, show us possible opportunities as well as point us to new directions we could move in. The group also gives us feedback and contribute to our future plans. They are a sounding board and a serve as public advocates of Solidarity Foundation.</p>
    		<div class="row">
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Svati Shah</h5>
                    <div class="profile-desc">
                        <p>Assistant Professor, Gender and Sexuality Studies, University of Massachusetts, Amherst</p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Svati Shah</h5>
                    <div class="profile-desc">
                        <p>Assistant Professor, Gender and Sexuality Studies, University of Massachusetts, Amherst</p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Ashwini Sukhthankar</h5>
                    <div class="profile-desc">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Devaki Jain</h5>
                    <div class="profile-desc">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Mohan Mani</h5>
                    <div class="profile-desc profile-desc-left">
                        <p>NTUI</p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Rajendranath</h5>
                    <div class="profile-desc profile-desc-left">
                        <p>HIVOS</p>
                    </div>
                </div>
            </div>                                    
    	</div>
    </section>

        
    <section class="trustee">
        <div class="container">
            <h3>FRIENDS OF SF</h3>
            <p>With a lot of help from our friends! Friends of the Foundation are individuals with a commitment to the issues of sexual minorities and sex workers. They are a varied lot who have in common an interest in the issues that we are working with and in taking part in the various activities organised by the Foundation. We need our friends. A friend offers support and contributes in various ways to our growth. A friend promotes and champions the Foundation and the interests of the communities we work with. Be a friend and you can engage with these issues in a more dynamic way.</p>
            <div class="row">
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Arunesh Maiyar</h5>
                    <div class="profile-desc">
                        <p></p>
                    </div>
                </div>
                <div class="col-md-2 profile">
                    <img class="profile-pic" src ="/assets/profile-pic.jpg">
                    <h5>Veena N.</h5>
                    <div class="profile-desc">
                        <p></p>
                    </div>
                </div>                
            </div>                                    
        </div>
    </section>
</main>