<main class="main-container">
    <section class="page-head">
        <div class="container">
            <h1>Team</h1> 
        </div>
    </section>

    
    		
    <section class="trustee">
    	<div class="container">
    		<h3>Board Of Trustees</h3>
    		<div class="row">
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    		</div>
    	</div>
    </section>

    
    		
    		<section class="trustee">
    	<div class="container">
    		<h3>Friends Of Solidarity Foundation</h3>
    		<div class="row">
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    		</div>
    	</div>
    </section>

     
    		
    	<section class="trustee">
    	<div class="container">
    		<h3>Advisory Group</h3>
    		<div class="row">
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    		</div>
    	</div>
    </section>


     <section class="trustee">
    	<div class="container">
    		<h3>Staff</h3>
    		<div class="row">
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    			<div class="col-md-2">
    				<img src ="/assets/grey.jpeg">
    				<h5>Name</h5>
    				<p>Phasellus phasellus duis turpis sit nunc! In egestas mus? Nisi. Cum pulvinar sed
					ultrices, sit tortor velit etiam adipiscing velit adipiscing, vel pena tibus mauris</p>
    			</div>
    		</div>
    	</div>
    </section>
</main>